<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <p class="copyright text-muted">
          Copyright &copy; {{ site.author.name }} {{ 'now' | date: "%Y" }}
          <br>
          {% include busuanzi_script.html %}
          
          <span id="busuanzi_container_site_pv" style="display:none">
            本站總訪問量 <span id="busuanzi_value_site_pv"></span> 次
          </span>
          <span class="mx-2">|</span>
          <span id="busuanzi_container_site_uv" style="display:none">
            總訪客數 <span id="busuanzi_value_site_uv"></span> 人
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
